language: php
php:
  - 7.0
  - 5.6
  - 5.5
  - 5.4
  - hhvm

matrix:
  allow_failures:
    - php: hhvm
before_install:
  - rm -rf travis-test
  - mkdir travis-test
  - cd travis-test
install:
  - composer require browomir/open-encryption "dev-master"
script:
  - phpunit --configuration vendor/browomir/open-encryption/travis.phpunit.xml