language: php
php:
  - 5.6
  - 5.5
  - 5.4
  - 7.0
  - hhvm

matrix:
  allow_failures:
    - php: hhvm
    - php: 7.0

before_install:
  - rm -rf travis-test
  - mkdir travis-test
  - cd travis-test

install:
  - composer require browomir/open-encryption "dev-master"

script:
  - phpunit --configuration vendor/browomir/open-encryption/travis.phpunit.xml --coverage-clover=coverage.clover

after_success:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover