language: php
php:
  - 5.6
  - 5.5
  - 5.4
  - 5.3
  - hhvm

matrix:
  allow_failures:
    - php: hhvm
before_install:
  - rm -rf travis-test
  - mkdir travis-test
  - cd travis-test
install:
  - composer require browomir/open-encryption "dev-master"
before_sript:
  - cd vendor/browomir/open-encryption
script:
  - phpunit --configuration phpunit.xml.dist